.App {
  text-align: center;
}

.book-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: baseline;
  align-content: space-around;
}

.book-div {
  flex-basis: 33%;
}
